<<<<<<< HEAD
/* body{
    background-image: url("image.jpg");
} */
.logo{
    width: 14%;
    display: inline-block;
    margin-top: 3%;
    margin-left: 8%;
}
.right {
    position: absolute;
    display: inline-block;
    left: 75%;
    top: 10%;
    padding: 40px 19px;
    color: RGB(195, 68, 122);
    font-size: 30px;
    font-family: Noto Sans;
}
.note{
    font-size: 35px;
    font-family: poppins;
    color: blanchedalmond;
    background-color: rgb(124, 77, 77);
    text-align: center
}
.text{
  padding-left: 8%;
  color: #34568B;
  /* padding-top: 2%; */
  font-size: 70px;
  font-family: poppins;
  letter-spacing: 0.3rem;
}
#img{
  height: 1%;
  width: 22%;
  margin-right: 5%;
  animation: slider 9s infinite linear;
}
#img1{
width: 22%;
margin-right: 2%;
animation: slider1 9s infinite linear;
}
@keyframes slider{
0%{background-image: url("salon-01.jpg")}
35%{background-image: url("salon-02.jpg")}
75%{background-image: url("photo1.jpeg")}
}
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #000000;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
  margin-top: 21%;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
  padding-top: 1%;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
} 
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
.text1{
  padding-left: 8%;
  word-spacing: 0.5rem;
  font-size: 19px;
  font-family: roboto;
  /* color: #9E1030; */
}
.btn{
  text-align: center;
  margin-left: 8%;
  margin-top: 3%;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 30px;
  min-width: 200px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: 0;
  background-clip: border-box !important;
  cursor: pointer;
  transition: box-shadow 0.3s, color 0.3s !important;
  background-color: #a38253;
}
.btn:hover{
  background-color: #000;
}
.text2{
  padding-left: 9%;
  font-size: 55px;
  letter-spacing: 0.2rem;
  color: #D0A44B;
  background-color: #000;
  margin-top: 5%;
  font-family: 'Montserrat', sans-serif;
}
.text3{
  background-color: #000;
  color: #FFF;
  padding-left: 9%;
  letter-spacing: 0.2rem;
  font-family: poppins;
}
.flexbox{
  display: flex;
  justify-content: space-between;
}
.btn1{
  margin-left: 183%;
  margin-top: 1%;
  word-spacing: 0.4rem;
  background-color: #000;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 20px;
  font-family: poppins;
  border: none;
  cursor: pointer;
  color: #fff;
}
.btn1:hover{
  background-color: rgb(50, 44, 44);
}
.facial{
  margin-left: 7.8%;
  margin-top: 2%;
}
.btn2{
  margin-left: 80%;
  margin-top: 0%;
  word-spacing: 0.4rem;
  background-color: #000;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 20px;
  font-family: poppins;
  border: none;
  cursor: pointer;
  color: #fff;
  display: inline-block;
}
.btn2:hover{
  background-color: rgb(50, 44, 44);
}
.wellness{
  margin-left: 1%;
}
.btn3{
  margin-left: 2%;
  margin-top: 0%;
  word-spacing: 0.4rem;
  background-color: #000;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 20px;
  font-family: poppins;
  border: none;
  cursor: pointer;
  color: #fff;
}
.btn3:hover{
  background-color: rgb(50, 44, 44);
}
.hair-color{
  margin-left: 1%;
}
.btn4{
  margin-left: -80%;
  margin-top: 0%;
  word-spacing: 0.4rem;
  background-color: #000;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 20px;
  font-family: poppins;
  border: none;
  cursor: pointer;
  color: #fff;
}
.btn4:hover{
  background-color: rgb(50, 44, 44);
}
.pic{
  margin-left: 0.5%;
}
.line{
  margin-top: 2%;
  padding-top: 4%;
  text-align: center;
  background: url("backend.jpg");
  font-family: Mrs Saint Delafield;
  font-size: 38px;
  color: #a38253;
}
#line1{
  color: #000;
  font-family: prata;
  font-size: 35px;
}
#line2{
  font-size: 18px;
  color: #000;
  font-family: ubuntu;
  padding-top: 1%;
}
#w{
  color: #a38253;
}
.box{
  display: flex;
  justify-content: space-between;
}
.btn5{
  word-spacing: 0.4rem;
  background-color: #000;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 20px;
  font-family: ubuntu;
  border: none;
  cursor: pointer;
  color: #fff;
  /* margin-right: 20%; */
  margin-left: 60%;
  /* margin-right: 4%; */
  float: none;
}
.btn6{
  word-spacing: 0.4rem;
  background-color: #000;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 20px;
  font-family: ubuntu;
  border: none;
  cursor: pointer;
  color: #fff;
  margin-left: 40%;
}
.btn7{
  word-spacing: 0.4rem;
  background-color: #000;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 20px;
  font-family: ubuntu;
  border: none;
  cursor: pointer;
  color: #fff;
}
.btn8{
  word-spacing: 0.4rem;
  background-color: #000;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 20px;
  font-family: ubuntu;
  border: none;
  cursor: pointer;
  color: #fff;
  margin-right: 40%;
}
.pictures{
  display: flex;
}
.weight{
  /* margin-right: 27%; */
  margin-left: 7%;
  display: inline;
}
.hair02{
  margin-right: 42%;
  margin-left: 1.25%;
}
.skin02{
  margin-left: -41%;
}
.laser{
  margin-left: 1.25%;
}
.lin{
  background-color: #000;
  font-family: Mrs Saint Delafield;
  font-size: 48px;
  color:  #a38253;
  padding-left: 16%;
  padding-top: 4%;
  margin-top: 3%;
  width: 100%;
}
.lin1{
  font-family: prata;
  color: #fff;
  padding-right: 50%;
  background-color: #000;
  font-size: 45px;
  padding-left: 13%;
}
.lin1 a{
  color: #000;
  text-decoration: none;
}
#line1{
  font-size: 40px;
}
.know{
  margin-top: 0%;
  margin-left: 4%;
  font-family: poppins;
  color: #fff;
}
.know:hover{
  color: #000;
}
#i1{
  width: 100%;
  margin-left: 130%;
}
.linee{
  display: flex;
  justify-content: space-between;
} 
.words{
  text-align: center;
  font-family: Mrs Saint Delafield;
  color: #a38253;
  font-size: 50px;
  background-color: #fff;
  margin-top: 9%;
}
#worth{
  font-family: prata;
  color: #000;
  font-size: 52px;
}
#o{
  font-size: 30px;
  color: #a38253;
}
.id1{
  max-width: 8%;
  margin-left: 46%;
}
.comment{
  text-align: center;
  margin-left: 3%;
  font-family: prata;
  margin-top: 10%;
  font-size: 50px;
}
.commentbox{
  background: url("bgg.png");
}
#comment{
  padding-top: 1%;
  padding-left: 2%;
  margin-left: 10%;
  margin-top: 5%;
  font-family: roboto;
  font-size: 16px;
  border-radius: 4px;
  border-style: smooth;
}
#name{
  margin-left: 10%;
  font-family: roboto;
  font-size: 14px;
  padding-top: 0.5%;
  padding-left: 1%;
  border-radius: 4px;
  border-style: smooth;
}
#email{
  margin-left: 2%;
  font-family: roboto;
  font-size: 14px;
  padding-top: 0.5%;
  padding-left: 1%;
  border-radius: 4px;
  border-style: smooth;
}
#leave{
  text-align: center;
  margin-left: 3%;
  margin-top: 3%;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px 40px;
  min-width: 200px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: 0;
  background-clip: border-box !important;
  cursor: pointer;
  transition: box-shadow 0.3s, color 0.3s !important;
  background-color: #a38253;
  }
#leave:hover{
  background-color: #000;
}
.hairs{
  color: #a38253;
  text-align: center;
  font-family: Mrs Saint Delafield;
  font-size: 50px;
  background-color: #fff;
  margin-top: .5%;
}
#hairs{
  color: #000;
  font-family: prata;
}
#hairsin{
  color: #000;
  font-family: ubuntu;
  font-size: 18px;
}
.banner{
  width: 94%;
  margin-top: 5%; 
  margin-left: 6%;
}
.good{
  text-align: center;
  font-family: prata;
  font-size: 50px;
}
.para{
  text-align: center;
  font-family: prata;
  font-size: 19px;
}

.swiper {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: 70%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    background-color: #a38253;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  } 
#port{
    font-family: prata;
    text-align: center;
    font-size: 40px;
    margin-left: 2%;
    letter-spacing: 0.1em;
}
.btn90{
    color: #FFFFFF !important;
    background-color: #D0A44B !important;
    border-radius: 4px 4px 4px 4px;
    padding: 15px 20px 15px 20px;
    border: none !important;
    font-weight: 600;
    font-size: 17px;
    margin-top: 10%;
    margin-left: 35%;
}
.btn98{
  text-align: center;
  margin-top: 20%;
  margin-left: 18%;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 12px;
  min-width: 200px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: 0;
  background-clip: border-box !important;
  cursor: pointer;
  transition: box-shadow 0.3s, color 0.3s !important;
  background-color: #a38253;
  font-family: roboto;
}
.btn98:hover{
  background: #000;
}
.downbar{
  background-color: #141414;
  padding-left: 10%;
  margin-top: 3%;
}
.logo1{
    width: 12%;
    display: inline-block;
    margin-top: 4%;
}
#son{
  color: #a38253;
  padding-left: 30%;
  padding-top: 8%;
  display: inline-block;
  position: absolute;
  font-size: 26px;
  font-family: prata;
}
#para1{
  font-family: ubuntu;
  color: rgba(255, 255, 255, 0.55);
  font-size: 14px;
  padding-left: -2%;
}
#whatsapp{
  color: #a38253;
  size: 100%;
  margin-left: 33%;
  font-size: 20px;
}
#email1{
  color: #a38253;
  margin-left: 45%;
  margin-top: 1%;
  font-size: 20px;
}
#linee{
  margin-top: 100%;
  color: gray;
}
#res{
  padding-left: 35%;
  margin-top: 20%;
  color: #fff;
.logo{
  width: 14%;
  display: inline-block;
  margin-top: 3%;
  margin-left: 8%;
}
.right {
    position: absolute;
    display: inline-block;
    left: 75%;
    top: 10%;
    padding: 40px 19px;
    color: RGB(195, 68, 122);
    font-size: 30px;
    font-family: Noto Sans;
}
.note{
    font-size: 35px;
    font-family: poppins;
    color: blanchedalmond;
    background-color: rgb(124, 77, 77);
    text-align: center
}
.text{
  padding-left: 8%;
  color: #34568B;
  /* padding-top: 2%; */
  font-size: 70px;
  font-family: poppins;
  letter-spacing: 0.3rem;
}
#img{
  height: 1%;
  width: 22%;
  margin-right: 5%;
  animation: slider 9s infinite linear;
}
#img1{
width: 22%;
margin-right: 2%;
animation: slider1 9s infinite linear;
}
@keyframes slider{
0%{background-image: url("salon-01.jpg")}
35%{background-image: url("salon-02.jpg")}
75%{background-image: url("photo1.jpeg")}
}
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #000000;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
  margin-top: 21%;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
  padding-top: 1%;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
} 
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
.text1{
  padding-left: 8%;
  word-spacing: 0.5rem;
  font-size: 19px;
  font-family: roboto;
  /* color: #9E1030; */
}
.btn{
  text-align: center;
  margin-left: 8%;
  margin-top: 3%;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 30px;
  min-width: 200px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: 0;
  background-clip: border-box !important;
  cursor: pointer;
  transition: box-shadow 0.3s, color 0.3s !important;
  background-color: #a38253;
}
.btn:hover{
  background-color: #000;
}
.text2{
  padding-left: 9%;
  font-size: 55px;
  letter-spacing: 0.2rem;
  color: #D0A44B;
  background-color: #000;
  margin-top: 5%;
  font-family: 'Montserrat', sans-serif;
}
.text3{
  background-color: #000;
  color: #FFF;
  padding-left: 9%;
  letter-spacing: 0.2rem;
  font-family: poppins;
}
.flexbox{
  display: flex;
  justify-content: space-between;
}
.btn1{
  margin-left: 183%;
  margin-top: 1%;
  word-spacing: 0.4rem;
  background-color: #000;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 20px;
  font-family: poppins;
  border: none;
  cursor: pointer;
  color: #fff;
}
.btn1:hover{
  background-color: rgb(50, 44, 44);
}
.facial{
  margin-left: 7.8%;
  margin-top: 2%;
}
.btn2{
  margin-left: 80%;
  margin-top: 0%;
  word-spacing: 0.4rem;
  background-color: #000;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 20px;
  font-family: poppins;
  border: none;
  cursor: pointer;
  color: #fff;
  display: inline-block;
}
.btn2:hover{
  background-color: rgb(50, 44, 44);
}
.wellness{
  margin-left: 1%;
}
.btn3{
  margin-left: 2%;
  margin-top: 0%;
  word-spacing: 0.4rem;
  background-color: #000;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 20px;
  font-family: poppins;
  border: none;
  cursor: pointer;
  color: #fff;
}
.btn3:hover{
  background-color: rgb(50, 44, 44);
}
.hair-color{
  margin-left: 1%;
}
.btn4{
  margin-left: -80%;
  margin-top: 0%;
  word-spacing: 0.4rem;
  background-color: #000;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 20px;
  font-family: poppins;
  border: none;
  cursor: pointer;
  color: #fff;
}
.btn4:hover{
  background-color: rgb(50, 44, 44);
}
.pic{
  margin-left: 0.5%;
}
.line{
  margin-top: 2%;
  padding-top: 4%;
  text-align: center;
  background: url("backend.jpg");
  font-family: Mrs Saint Delafield;
  font-size: 38px;
  color: #a38253;
}
#line1{
  color: #000;
  font-family: prata;
  font-size: 35px;
}
#line2{
  font-size: 18px;
  color: #000;
  font-family: ubuntu;
  padding-top: 1%;
}
#w{
  color: #a38253;
}
.box{
  display: flex;
  justify-content: space-between;
}
.btn5{
  word-spacing: 0.4rem;
  background-color: #000;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 20px;
  font-family: ubuntu;
  border: none;
  cursor: pointer;
  color: #fff;
  /* margin-right: 20%; */
  margin-left: 60%;
  /* margin-right: 4%; */
  float: none;
}
.btn6{
  word-spacing: 0.4rem;
  background-color: #000;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 20px;
  font-family: ubuntu;
  border: none;
  cursor: pointer;
  color: #fff;
  margin-left: 40%;
}
.btn7{
  word-spacing: 0.4rem;
  background-color: #000;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 20px;
  font-family: ubuntu;
  border: none;
  cursor: pointer;
  color: #fff;
}
.btn8{
  word-spacing: 0.4rem;
  background-color: #000;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 20px;
  font-family: ubuntu;
  border: none;
  cursor: pointer;
  color: #fff;
  margin-right: 40%;
}
.pictures{
  display: flex;
}
.weight{
  /* margin-right: 27%; */
  margin-left: 7%;
  display: inline;
}
.hair02{
  margin-right: 42%;
  margin-left: 1.25%;
}
.skin02{
  margin-left: -41%;
}
.laser{
  margin-left: 1.25%;
}
.lin{
  background-color: #000;
  font-family: Mrs Saint Delafield;
  font-size: 48px;
  color:  #a38253;
  padding-left: 16%;
  padding-top: 4%;
  margin-top: 3%;
}
.lin1{
  font-family: prata;
  color: #fff;
  padding-right: 50%;
  background-color: #000;
  font-size: 45px;
  padding-left: 13%;
}
.lin1 a{
  color: #000;
  text-decoration: none;
}
#line1{
  font-size: 40px;
}
.know{
  margin-top: 0%;
  margin-left: 4%;
  font-family: poppins;
  color: #fff;
}
.know:hover{
  color: #000;
}
#i1{
  width: 100%;
  margin-left: 130%;
}
.linee{
  display: flex;
  justify-content: space-between;
} 
.words{
  text-align: center;
  font-family: Mrs Saint Delafield;
  color: #a38253;
  font-size: 50px;
  background-color: #fff;
  margin-top: 9%;
}
#worth{
  font-family: prata;
  color: #000;
  font-size: 52px;
}
#o{
  font-size: 30px;
  color: #a38253;
}
.id1{
  max-width: 8%;
  margin-left: 46%;
}
.comment{
  text-align: center;
  margin-left: 3%;
  font-family: prata;
  margin-top: 10%;
  font-size: 50px;
}
.commentbox{
  background: url("bgg.png");
}
#comment{
  padding-top: 1%;
  padding-left: 2%;
  margin-left: 10%;
  margin-top: 5%;
  font-family: roboto;
  font-size: 16px;
  border-radius: 4px;
  border-style: smooth;
}
#name{
  margin-left: 10%;
  font-family: roboto;
  font-size: 14px;
  padding-top: 0.5%;
  padding-left: 1%;
  border-radius: 4px;
  border-style: smooth;
}
#email{
  margin-left: 2%;
  font-family: roboto;
  font-size: 14px;
  padding-top: 0.5%;
  padding-left: 1%;
  border-radius: 4px;
  border-style: smooth;
}
#leave{
  text-align: center;
  margin-left: 3%;
  margin-top: 3%;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px 40px;
  min-width: 200px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: 0;
  background-clip: border-box !important;
  cursor: pointer;
  transition: box-shadow 0.3s, color 0.3s !important;
  background-color: #a38253;
  }
#leave:hover{
  background-color: #000;
}
.hairs{
  color: #a38253;
  text-align: center;
  font-family: Mrs Saint Delafield;
  font-size: 50px;
  background-color: #fff;
  margin-top: .5%;
}
#hairs{
  color: #000;
  font-family: prata;
}
#hairsin{
  color: #000;
  font-family: ubuntu;
  font-size: 18px;
}
.banner{
  width: 94%;
  margin-top: 5%; 
  margin-left: 6%;
}
.good{
  text-align: center;
  font-family: prata;
  font-size: 50px;
}
.para{
  text-align: center;
  font-family: prata;
  font-size: 19px;
}

.swiper {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: 70%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    background-color: #a38253;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
#port{
    font-family: prata;
    text-align: center;
    font-size: 40px;
    margin-left: 2%;
    letter-spacing: 0.1em;
}
.btn90{
    color: #FFFFFF !important;
    background-color: #D0A44B !important;
    border-radius: 4px 4px 4px 4px;
    padding: 15px 20px 15px 20px;
    border: none !important;
    font-weight: 600;
    font-size: 17px;
    margin-top: 40%;
    margin-left: 35%;
>>>>>>> 67aa3d1d63f8a0249d28244a3cee28ca3e265120
}